AC_ServiceClient/Service References/ACServiceReference/ACService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53366/ACService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AC_SessionReport" />
  <xs:element name="PostResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AC_SessionReport" minOccurs="0" name="report" nillable="true" type="q1:SessionReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostResultResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>